<%= render 'layouts/header' %>
<form action="" method="post" name="inputform">
  <div style="color: red">
    <% if flash[:notice].present? %>
      <% flash[:notice].each do |err| %>
        <p><%= err %></p>
      <% end %>
    <% end %>
  </div>

  <table class="tbl_input" border="0" width="75%" cellpadding="0" cellspacing="0">
    <tr>
      <th align="left">
        <div style="padding-left:100px;">
          会員情報編集
        </div>
      </th>
    </tr>
    <tr>
      <td class="errMsg">
        <div style="padding-left:120px">
          &nbsp
        </div>
      </td>
    </tr>
    <tr>
      <td align="left">
        <div style="padding-left:100px;">
          <table border="0" width="100%" class="tbl_input" cellpadding="4" cellspacing="0">
            <tr>
              <td class="lbl_left"><span style="color: red; ">*</span> アカウント名:</td>
              <td align="left">
                <% if @action == 'edit' %>
                  <input class="txBox" type="text" name="login_name" value="<%= @login_name %>"
                         size="15" onfocus="this.style.borderColor='#0066ff';"
                         onblur="this.style.borderColor='#aaaaaa';" , readonly/>
                <% else %>
                  <input class="txBox" type="text" name="login_name" value="<%= @login_name %>"
                         size="15" onfocus="this.style.borderColor='#0066ff';"
                         onblur="this.style.borderColor='#aaaaaa';"/>
                <% end %>
              </td>
            </tr>
            <tr>
              <td class="lbl_left"><span style="color: red; ">*</span> グループ:</td>
              <td align="left">
                <% if @action == 'edit' %>
                  <% @group = @group_name %>
                <% else %>
                  <% @group = "選択してください" %>
                <% end %>
                <%= select_tag "group_name", options_from_collection_for_select(@groups, "group_id", "group_name"), prompt: @group %>
              </td>
            </tr>
            <tr>
              <td class="lbl_left"><span style="color: red; ">*</span> 氏名:</td>
              <td align="left">
                <input class="txBox" type="text" name="full_name" value="<%= @full_name %>"
                       size="30" onfocus="this.style.borderColor='#0066ff';"
                       onblur="this.style.borderColor='#aaaaaa';"/>
              </td>
            </tr>
            <tr>
              <td class="lbl_left">カタカナ氏名:</td>
              <td align="left">
                <input class="txBox" type="text" name="name_kana" value="<%= @name_kana %>"
                       size="30" onfocus="this.style.borderColor='#0066ff';"
                       onblur="this.style.borderColor='#aaaaaa';"/>
              </td>
            </tr>
            <tr>
              <td class="lbl_left"><span style="color: red; ">*</span> 生年月日:</td>
              <td align="left">
                <% if @action == 'edit' && @birthday.present? %>
                  <% @year_birth = @birthday[0] %>
                  <% @month_birth = @birthday[1] %>
                  <% @day_birth = @birthday[2] %>
                <% end %>
                <%= select_tag "year_birth", options_for_select((1900..Date.today.year).to_a.reverse), prompt: @year_birth %>
                年
                <%= select_tag "month_birth", options_for_select((1..12).to_a), prompt: @month_birth %>月
                <%= select_tag "day_birth", options_for_select((1..31).to_a), prompt: @day_birth %>日
              </td>
            </tr>
            <tr>
              <td class="lbl_left"><span style="color: red; ">*</span> メールアドレス:</td>
              <td align="left">
                <input class="txBox" type="text" name="email" value="<%= @email %>"
                       size="30" onfocus="this.style.borderColor='#0066ff';"
                       onblur="this.style.borderColor='#aaaaaa';"/>
              </td>
            </tr>
            <tr>
              <td class="lbl_left"><span style="color: red; ">*</span>電話番号:</td>
              <td align="left">
                <input class="txBox" type="text" name="tel" value="<%= @tel %>"
                       size="30" onfocus="this.style.borderColor='#0066ff';"
                       onblur="this.style.borderColor='#aaaaaa';"/>
              </td>
            </tr>
            <tr>
              <td class="lbl_left"><span style="color: red; ">*</span> パスワード:</td>
              <td align="left">
                <input class="txBox" type="password" name="pass" value="<%= @pass %>"
                       size="30" onfocus="this.style.borderColor='#0066ff';"
                       onblur="this.style.borderColor='#aaaaaa';"/>
              </td>
            </tr>
            <tr>
              <td class="lbl_left">パスワード（確認）:</td>
              <td align="left">
                <input class="txBox" type="password" name="pass_confirm" value="<%= @pass_confirm %>"
                       size="30" onfocus="this.style.borderColor='#0066ff';"
                       onblur="this.style.borderColor='#aaaaaa';"/>
              </td>
            </tr>
            <tr>
              <th align="left" colspan="2">
                <a href="#" onclick="showHideLevelJP()">日本語能力</a>
              </th>
            </tr>
          </table>
        </div>
        <div id="myDiv" style="padding-left: 100px; display: none">
          <table border="0" width="100%" class="tbl_input" cellpadding="4"
                 cellspacing="0">
            <tr>
              <td class="lbl_left">資格:</td>
              <td align="left">
                <% if @action == 'edit' %>
                  <% @japan = @name_level %>
                <% else %>
                  <% @japan = "選択してください" %>
                <% end %>
                <%= select_tag "name_level", options_from_collection_for_select(@detail_japans, "code_level", "name_level"), prompt: @japan %>
              </td>
            </tr>
            <tr>
              <td class="lbl_left">資格交付日:</td>
              <td align="left">
                <% if @action == 'edit' && @start_date.present? %>
                  <% @year_start = @start_date[0] %>
                  <% @month_start = @start_date[1] %>
                  <% @day_start = @start_date[2] %>
                <% end %>
                <%= select_tag "year_start", options_for_select((1900..Date.today.year).to_a.reverse), prompt: @year_start %>
                年
                <%= select_tag "month_start", options_for_select((1..12).to_a), prompt: @month_start %>月
                <%= select_tag "day_start", options_for_select((1..31).to_a), prompt: @day_start %>日
              </td>
            </tr>
            <tr>
              <td class="lbl_left">失効日:</td>
              <td align="left">
                <% if @action == 'edit' && @end_date.present? %>
                  <% @year_end = @end_date[0] %>
                  <% @month_end = @end_date[1] %>
                  <% @day_end = @end_date[2] %>
                <% end %>
                <%= select_tag "year_end", options_for_select((1900..Date.today.year).to_a.reverse), prompt: @year_end %>
                年
                <%= select_tag "month_end", options_for_select((1..12).to_a), prompt: @month_end %>月
                <%= select_tag "day_end", options_for_select((1..31).to_a), prompt: @day_end %>日
              </td>
            </tr>
            <tr>
              <td class="lbl_left">点数:</td>
              <td align="left">
                <input class="txBox" type="text" name="total" value="<%= @total %>"
                       size="5" onfocus="this.style.borderColor='#0066ff';"
                       onblur="this.style.borderColor='#aaaaaa';"/>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>
  <div style="padding-left:100px;">&nbsp;</div>
  <!-- Begin vung button -->
  <div style="padding-left: 45px;">
    <table border="0" cellpadding="4" cellspacing="0" width="300px">
      <tr>
        <th width="200px" align="center">&nbsp;</th>
        <td><input class="btn" type="submit" value="確認"/></td>
        <td><input class="btn" type="button" value="戻る" onclick=""/></td>
      </tr>
    </table>
  </div>
  <!-- End vung button -->
  <input type="hidden" name="action_type" value=<% @action %> />
</form>
<!-- End vung input -->
<%= render 'layouts/footer' %>

<script type="text/javascript" charset="utf-8">
    function showHideLevelJP() {
        if (document.getElementById("myDiv").style.display == "none") {
            document.getElementById("myDiv").style.display = "block";
        } else {
            document.getElementById("myDiv").style.display = "none";

        }
    }
</script>