<%= render 'layouts/header' %>
<form action="" method="post" name="inputform">
  <table class="tbl_input" border="0" width="75%" cellpadding="0" cellspacing="0">
    <tr>
      <th align="left">
        <div style="padding-left:100px;">
          会員情報編集
        </div>
      </th>
    </tr>
    <tr>
      <td class="errMsg">
        <div style="padding-left:120px">
          &nbsp
        </div>
      </td>
    </tr>
    <tr>
      <td align="left">
        <div style="padding-left:100px;">
          <table border="0" width="100%" class="tbl_input" cellpadding="4" cellspacing="0">
            <tr>
              <td class="lbl_left"><font color="red">*</font> アカウント名:</td>
              <td align="left">
                <input class="txBox" type="text" name="login_name" value=""
                       size="15" onfocus="this.style.borderColor='#0066ff';"
                       onblur="this.style.borderColor='#aaaaaa';"/>
              </td>
            </tr>
            <tr>
              <td class="lbl_left"><font color="red">*</font> グループ:</td>
              <td align="left">
                <%= select_tag "group_name", options_from_collection_for_select(@groups, "group_id", "group_name"), prompt: "選択してください" %>
              </td>
            </tr>
            <tr>
              <td class="lbl_left"><font color="red">*</font> 氏名:</td>
              <td align="left">
                <input class="txBox" type="text" name="full_name" value=""
                       size="30" onfocus="this.style.borderColor='#0066ff';"
                       onblur="this.style.borderColor='#aaaaaa';"/>
              </td>
            </tr>
            <tr>
              <td class="lbl_left">カタカナ氏名:</td>
              <td align="left">
                <input class="txBox" type="text" name="name_kana" value=""
                       size="30" onfocus="this.style.borderColor='#0066ff';"
                       onblur="this.style.borderColor='#aaaaaa';"/>
              </td>
            </tr>
            <tr>
              <td class="lbl_left"><font color="red">*</font> 生年月日:</td>
              <td align="left">

              <%= select_tag "year_birth", options_for_select((1900..Date.today.year).to_a.reverse) %>年
                <%= select_tag "month_birth", options_for_select((1..12).to_a) %>月
                <%= select_tag "day_birth", options_for_select((1..31).to_a) %>日
              </td>
            </tr>
            <tr>
              <td class="lbl_left"><font color="red">*</font> メールアドレス:</td>
              <td align="left">
                <input class="txBox" type="text" name="email" value=""
                       size="30" onfocus="this.style.borderColor='#0066ff';"
                       onblur="this.style.borderColor='#aaaaaa';"/>
              </td>
            </tr>
            <tr>
              <td class="lbl_left"><font color="red">*</font>電話番号:</td>
              <td align="left">
                <input class="txBox" type="text" name="tel" value=""
                       size="30" onfocus="this.style.borderColor='#0066ff';"
                       onblur="this.style.borderColor='#aaaaaa';"/>
              </td>
            </tr>
            <tr>
              <td class="lbl_left"><font color="red">*</font> パスワード:</td>
              <td align="left">
                <input class="txBox" type="password" name="pass" value=""
                       size="30" onfocus="this.style.borderColor='#0066ff';"
                       onblur="this.style.borderColor='#aaaaaa';"/>
              </td>
            </tr>
            <tr>
              <td class="lbl_left">パスワード（確認）:</td>
              <td align="left">
                <input class="txBox" type="password" name="passConfirm" value=""
                       size="30" onfocus="this.style.borderColor='#0066ff';"
                       onblur="this.style.borderColor='#aaaaaa';"/>
              </td>
            </tr>
            <tr>
              <th align="left" colspan="2">
                <a href="#" onclick="showHideLevelJP()">日本語能力</a>
              </th>
            </tr>
          </table>
        </div>
        <div id="myDiv" style="padding-left: 100px; display: none">
          <table border="0" width="100%" class="tbl_input" cellpadding="4"
                 cellspacing="0">
            <tr>
              <td class="lbl_left">資格:</td>
              <td align="left">
                <%= select_tag "name_level", options_from_collection_for_select(@detail_japans, "code_level", "name_level"), prompt: "選択してください" %>
              </td>
            </tr>
            <tr>
              <td class="lbl_left">資格交付日:</td>
              <td align="left">
                <%= select_tag "year_start", options_for_select((1900..Date.today.year).to_a.reverse) %>年
                <%= select_tag "month_start", options_for_select((1..12).to_a) %>月
                <%= select_tag "day_start", options_for_select((1..31).to_a) %>日
              </td>
            </tr>
            <tr>
              <td class="lbl_left">失効日:</td>
              <td align="left">
                <%= select_tag "year_end", options_for_select((1900..Date.today.year).to_a.reverse) %>年
                <%= select_tag "month_end", options_for_select((1..12).to_a) %>月
                <%= select_tag "day_end", options_for_select((1..31).to_a) %>日
              </td>
            </tr>
            <tr>
              <td class="lbl_left">点数:</td>
              <td align="left">
                <input class="txBox" type="text" name="total" value=""
                       size="5" onfocus="this.style.borderColor='#0066ff';"
                       onblur="this.style.borderColor='#aaaaaa';"/>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>
  <div style="padding-left:100px;">&nbsp;</div>
  <!-- Begin vung button -->
  <div style="padding-left:45px;">
    <table border="0" cellpadding="4" cellspacing="0" width="300px">
      <tr>
        <th width="200px" align="center">&nbsp;</th>
        <td>
          <button class="btn" type="submit" onclick="window.location.href = '/confirms'">確認</button>
        </td>
        <td>
          <input class="btn" type="button" value="戻る"/>
        </td>
      </tr>
    </table>
    <!-- End vung button -->
</form>
<!-- End vung input -->
<%= render 'layouts/footer' %>
<script type="text/javascript" charset="utf-8">
    function showHideLevelJP() {
        if (document.getElementById("myDiv").style.display === "none") {
            document.getElementById("myDiv").style.display = "block";

        } else {
            document.getElementById("myDiv").style.display = "none";

        }
    }
</script>