<%= render 'layouts/header' %>
<form action="/save_user" method="post" name="inputform">
  <table class="tbl_input" border="0" width="75%" cellpadding="0" cellspacing="0">
    <tr>
      <th align="left">
        <div style="padding-left:100px;">
          情報確認<br>
          入力された情報をＯＫボタンクリックでＤＢへ保存してください
        </div>
        <div style="padding-left:100px;">&nbsp;</div>
      </th>
    </tr>
    <tr>
      <td align="left">
        <div style="padding-left:100px;">
          <table border="1" width="70%" class="tbl_input" cellpadding="4" cellspacing="0">
            <tr>
              <td class="lbl_left">アカウント名:</td>
              <td align="left"><%= @login_name %><input type="hidden" value="<%= @login_name %>" name="login_name"/></td>
            </tr>
            <tr>
              <td class="lbl_left">グループ:</td>
              <td align="left"><%= @group_name %><input type="hidden" value="<%= @group_name %>" name="group_name"/></td>
            </tr>
            <tr>
              <td class="lbl_left">氏名:</td>
              <td align="left"><%= @full_name %><input type="hidden" value="<%= @full_name %>" name="full_name"/></td>
            </tr>
            <tr>
              <td class="lbl_left">カタカナ氏名:</td>
              <td align="left"><%= @name_kana %><input type="hidden" value="<%= @name_kana %>" name="name_kana"/></td>
            </tr>
            <tr>
              <td class="lbl_left">生年月日:</td>
              <td align="left"><%= @birthday %><input type="hidden" value="<%= @birthday %>" name="birthday"/></td>
            </tr>
            <tr>
              <td class="lbl_left">メールアドレス:</td>
              <td align="left"><%= @email %><input type="hidden" value="<%= @email %>" name="email"/></td>
            </tr>
            <tr>
              <td class="lbl_left">電話番号:</td>
              <td align="left"><%= @tel %><input type="hidden" value="<%= @tel %>" name="tel"/></td>
            </tr>
            <input type="hidden" value="<%= @pass %>" name="pass"/>
            <input type="hidden" value="<%= @pass_confirm %>" name="pass_confirm"/>
            <tr>
              <th colspan="2"><a href="#">日本語能力</a></th>
            </tr>
            <tr>
              <td class="lbl_left">資格:</td>
              <td align="left"><%= @name_level %><input type="hidden" value="<%= @name_level %>" name="name_level"/></td>
            </tr>
            <tr>
              <td class="lbl_left">資格交付日:</td>
              <td align="left"><%= @start_date %><input type="hidden" value="<%= @start_date %>" name="start_date"/></td>
            </tr>
            <tr>
              <td class="lbl_left">失効日:</td>
              <td align="left"><%= @end_date %><input type="hidden" value="<%= @end_date %>" name="end_date"/></td>
            </tr>
            <tr>
              <td class="lbl_left">点数:</td>
              <td align="left"><%= @total %><input type="hidden" value="<%= @total %>" name="total"/></td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>
  <div style="padding-left:100px;">&nbsp;</div>
  <!-- Begin vung button -->
  <div style="padding-left:45px;">
    <table border="0" cellpadding="4" cellspacing="0" width="300px">
      <tr>
        <th width="200px" align="center">&nbsp;</th>
        <td>
          <input class="btn" type="submit" value="OK"/>
        </td>
        <td>
          <input class="btn" type="button" value="戻る"/>
        </td>
      </tr>
    </table>
  </div>
  <!-- End vung button -->
</form>
<%= render 'layouts/footer' %> A