<p style="color: green"><%= notice %></p>

<%= render @add_user %>

<div>
  <%= link_to "Edit this add user.js", edit_add_user_path(@add_user) %> |
  <%= link_to "Back to add users", add_users_path %>

  <%= button_to "Destroy this add user.js", @add_user, method: :delete %>
</div>
