<p style="color: green"><%= notice %></p>

<%= render @confirm %>

<div>
  <%= link_to "Edit this confirm", edit_confirm_path(@confirm) %> |
  <%= link_to "Back to confirms", confirms_path %>

  <%= button_to "Destroy this confirm", @confirm, method: :delete %>
</div>
