<%= render 'layouts/header' %>
<!-- Begin vung header -->
<div>
  <div>
    <table>
      <tr>
        <td width="80%"><%= image_tag('logo-manager-user.gif', alt: 'Luvina') %>
        <td align="left"><%= link_to 'ログアウト', logins_path  %> &nbsp; <%= link_to 'トップ', list_users_path  %><td>
      </tr>
    </table>
  </div>
</div>

<!-- End vung header -->

<!-- Begin vung input-->
<form action="ADM002.html" method="post" name="inputform">
  <table  class="tbl_input"   border="0" width="80%"  cellpadding="0" cellspacing="0" >
    <tr>
      <td align="center" colspan="2">
        <div style="height:50px"></div>
      </td>
    </tr>
    <tr>
      <td align="center" colspan="2">
        ユーザの登録が完了しました。 or ユーザの更新が完了しました。 or ユーザの削除が完了しました。
      </td>
    </tr>
    <tr>
      <td align="center" colspan="2">
        <div style="height:70px"></div>
      </td>
    </tr>
    <tr>
      <td align="center" colspan="2">
        <input class="btn" type="submit" value="OK" onclick=""/>
      </td>
    </tr>
  </table>
</form>
<!-- End vung input -->

<!-- Begin vung footer -->
<!-- End vung footer -->
<%= render 'layouts/footer' %>