<p style="color: green"><%= notice %></p>

<%= render @edit_user %>

<div>
  <%= link_to "Edit this edit user.js", edit_edit_user_path(@edit_user) %> |
  <%= link_to "Back to edit users", edit_users_path %>

  <%= button_to "Destroy this edit user.js", @edit_user, method: :delete %>
</div>
