<p style="color: green"><%= notice %></p>

<%= render @system_error %>

<div>
  <%= link_to "Edit this system error", edit_system_error_path(@system_error) %> |
  <%= link_to "Back to system errors", system_errors_path %>

  <%= button_to "Destroy this system error", @system_error, method: :delete %>
</div>
