<p style="color: green"><%= notice %></p>

<%= render @list_user %>

<div>
  <%= link_to "Edit this list user.js", edit_list_user_path(@list_user) %> |
  <%= link_to "Back to list users", list_users_path %>

  <%= button_to "Destroy this list user.js", @list_user, method: :delete %>
</div>
