<!DOCTYPE html>
<html>
  <head>
    <title>ManagerUser</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>


  <div class="content">
    <%= yield %>
  </div>


<!--    <header>-->

<!--      <div>-->
<!--          <table>-->
<!--            <tr>-->
<!--              <td width="80%"><%#= image_tag('logo-manager-user.gif', alt: 'Luvina') %>-->
<!--              <td>-->
<!--              <td align="left"><%#= link_to 'ログアウト', logins_path %> &nbsp; <%#= link_to 'トップ', list_users_path %>-->
<!--              <td>-->
<!--              <td>-->
<!--            </tr>-->
<!--          </table>-->
<!--        </div>-->
<!--    </header>-->
<!--    <div class="content">-->
      <%#= yield %>
<!--    </div>-->
<!--    <footer>-->
<!--      <div class="lbl_footer">-->
<!--        <br><br><br><br>-->
<!--        Copyright ©　2010　ルビナソフトウエア株式会社. All rights reserved.-->
<!--      </div>-->
<!--    </footer>-->
  </body>
</html>
